@import "../Sass/variable";

.nav {
  display: flex;
  justify-content: space-between;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  .logo {
    color: $primary-color;
    padding-left: 30px;
  }
  .nav-links {
    display: flex;
    align-items: center;
    li a {
      font-weight: bold;
      text-decoration: none;
      margin-right: 10px;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 7px;
      padding-bottom: 8px;
      border-radius: 20px;
      color: black;
    }
    li a:hover {
      color: $primary-color;
    }
    li a:active {
      color: $primary-color;
    }
    li {
      list-style: none;
    }
  }
  div {
    display: none;
    .btn {
      background-color: white;
      border: none;
    }
  }
}

@media (max-width: 780px) {
  .nav {
    background-color: white;
    .nav-links {
      display: none;
    }
    .nav-mobile {
      position: absolute;
      top: 40px;
      right: 0px;
      left: 0;
      transition: all 0.9s ease-out;
      width: 100;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 5;
      background-color: white;
      padding-bottom: 5px;
      padding-right: 23px;
      .isMobile {
        margin-top: 25px;
      }
      // .nav-bot {
      //   border-bottom: 0.5px solid #dfdfdf;
      // }
      li {
        font-weight: bold;
        display: block;
        text-align: center;
        list-style: none;
        transition: all 0.5s ease;
        margin-top: 4px;
        margin-bottom: 2px;
        padding-top: 10px;
        padding-bottom: 15px;
        width: 100%;
      }
      li a {
        text-decoration: none;
        padding-top: 7px;
        padding-bottom: 8px;
        border-radius: 20px;
        color: black;
      }
      li a:hover {
        color: $primary-color;
      }
    }
    div {
      display: block;
      margin-top: 21px;
      margin-right: 21px;
    }
  }

  
}
