@import "../Sass/variable";

.shadoww {
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.nav {
  display: flex;
  justify-content: space-between;
  .logo {
    padding-left: 30px;
    padding-top: 10px;
  }
  .nav-links {
    display: flex;
    li {
      list-style: none;
    }
    li a {
      color: black;
      font-weight: bold;
      text-decoration: none;
      margin-right: 6px;
      padding-right: 20px;
      padding-left: 20px;
      padding-top: 9px;
      padding-bottom: 6px;
      border-radius: 20px;
    }
    li a:hover {
      color: $primary-color;
    }
  }
  div {
    display: none;
    .btn {
      background-color: white;
      border: none;
    }
  }
}

@media (max-width: 426px) {
  .nav {
    background-color: white;
    .logo {
      padding-left: 15px;
    }
    .nav-links {
      display: none;
    }
    .nav-mobile {
      position: absolute;
      top: 65px;
      right: 0px;
      left: 0;
      transition: all 0.9s ease-out;
      width: 100;
      box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
      z-index: 5;
      background-color: white;
      text-align: center;
      padding-right: 23px;
      padding-bottom: 10px;
      .isMobile {
        margin-top: 25px;
      }
      li {
        list-style: none;
        display: block;
        transition: all 0.5s ease;
        margin-top: 5px;
        margin-bottom: 5px;
        padding-top: 10px;
        padding-bottom: 10px;
      }
      li a {
        text-decoration: none;
        text-align: center;
        color: black;
        font-weight: bold;
      }
      li a:hover {
        color: $primary-color;
      }
    }
    div {
      display: block;
      margin-top: 12px;
      padding-bottom: 10px;
    }
  }
}
