@import '../../Sass/variable';

.icon {
    color: white;
    background-color: $primary-color;
    padding: 10px;
    border-radius: 5px;
}

.float-animation {
    animation: float 2s ease-in-out infinite;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
    100% {
      transform: translateY(0);
    }
  }
  