@import '../src/Sass/variable';

.custom-line {
    border-bottom: 5px solid $primary-color;
    border-radius: 20px;
    width: 50px ;
    margin: auto;
  }
  
  .btn {
    background-color: $primary-color;
    color: white;
  }
  
  .btn:hover {
    background-color: $primary-color;
    color: white
  }
  
  .text-bold {
    font-weight: bold;
  }
  
  .text-grey {
    color: #666666;
  }

  .text-color {
    color: $primary-color;
  }